.mobile-header {
	border-bottom: 1px solid #2db7f5;
	padding-left: 0.1rem;

	img {
		height: 0.5rem;
	}

	span {
		font-size: 0.35rem;
		vertical-align: top;
		padding-left: 0.1rem;
		color: #2db7f5;
	}

	i{
		font-size: 0.25rem;
		float: right;
		margin-right: 0.15rem;
		margin-top: 0.15rem;
		color: #2db7f5;
	}
}
